$silverColor: #E9E9E9;
$aquaColor: #01ACAC;
$grey: #698592;
$whiteSmoke: #EFEFEF;
$emerald: #239FAD;
$red: #ff0000;
$white: #ffffff;
$black: #000000;
$lightGrey: #607D8F;
$font-size: 15px;
$line-height: 30px;

$bodyBg: $white;
$headerImg: "../img/header_background_v1.jpg";
$font: normal 300 #{$font-size}/#{$line-height} Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$linkColor: $silverColor;
$linkBorder: $lightGrey;
$headerTitle: $silverColor;
$btnColor: $silverColor;
$btnBgColor: $aquaColor;
$inputPlaceholder: $black;
$inputBorder: $grey;
$inputBg: $white;
$postListTitle: $black;
$articleBg: $whiteSmoke;
$articleTitle: $emerald;
$articleDate: $red;
$articleTitleBorder: $grey;
$paragraphColor: $black;
$aboutTitle: $black;
$formTitle: $black;
$formSubTitle: $black;
$inputColor: $emerald;
$footerColor: $black;
