.employee-form__main-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 20px;
}

.employee-form__left-side,
.employee-form__right-side {
  display: flex;
  flex-direction: column;

  .employee-form__label{
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

}

.employee-form__label {
  display: flex;
  flex-direction: column;
}

.employee-form__span {
  font-weight: bold;
  font-size: 1.3rem;
}

.is-invalid {
  border-color: #ff0000;
}

.alert {
  color: #ff0000;
}
