<header class="header">New employee</header>
<form class="employee-form" [formGroup]="employeeForm">
  <div class="employee-form__main-content">
    <div class="employee-form__left-side">
      <label class="employee-form__label"><span class="employee-form__span">First name:</span>
        <input [ngClass]="{'is-invalid': done && control.firstName.errors}" class="employee-form__input" formControlName="firstName" type="text" placeholder="Enter first name...">
        <div class="alert" *ngIf="done && control.firstName.errors">First Name is required</div>
      </label>
      <label class="employee-form__label"><span class="employee-form__span">Last name:</span>
        <input [ngClass]="{'is-invalid': done && control.lastName.errors}" class="employee-form__input" formControlName="lastName" type="text" placeholder="Enter last name...">
        <div class="alert" *ngIf="done && control.lastName.errors">Last Name is required</div>
      </label>
      <label class="employee-form__label"><span class="employee-form__span">City:</span>
        <select [ngClass]="{'is-invalid': done && control.city.errors}" name="city" formControlName="city">
          <option value="Lviv">Lviv</option>
          <option value="Kyiv">Kyiv</option>
          <option value="Odessa">Odessa</option>
          <option value="Dnipro">Dnipro</option>
          <option value="Ivano-Frankivsk">Ivano-Frankivsk</option>
        </select>
        <div class="alert" *ngIf="done && control.city.errors">Chose the city</div>
      </label>
    </div>
    <div class="employee-form__right-side">
      <label class="employee-form__label"><span class="employee-form__span">Age: {{this.employeeForm.value.age}}</span>
        <input class="employee-form__input" formControlName="age" type="range" min="16" max="99">
      </label>
      <label class="employee-form__label"><span [ngClass]="{'is-invalid': done && control.gender.errors}" class="employee-form__span">Gender:</span>
        <div>
          <input formControlName="gender" type="radio" name="gender" value="0"><span>Male</span>
        </div>
        <div>
          <input formControlName="gender" type="radio" name="gender" value="1"><span>Female</span>
        </div>
        <div>
          <input formControlName="gender" type="radio" name="gender" value="2"><span>Not disclosed</span>
        </div>
      </label>
    </div>
  </div>
  <label><span class="employee-form__span">About employee:</span>
    <textarea [ngClass]="{'is-invalid': done && control.description.errors}" formControlName="description" name="about" cols="70" rows="10" placeholder="Enter short summary"></textarea>
    <div class="alert" *ngIf="done && control.description.errors">Tell us about yourself in few sentences</div>  
  </label>
  <a class="btn btn--done" (click)="createNewEmployee()" >
    <i class="material-icons">done</i>
  </a>
</form>
